name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - "*"
  schedule:
    # Daily at 06:14.  This is just an arbitrary time to stagger
    # relative to other daily builds in any given organization.
    - cron: '14 6 * * *'

jobs:
  test:
    name: ${{ matrix.os.name }} ${{ matrix.python.name }}
    runs-on: ${{ matrix.os.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: Linux
            matrix: linux
            runs-on: ubuntu-latest
            tox: linux
          - name: macOS
            matrix: macos
            runs-on: macos-latest
            tox: macos
          - name: Windows
            matrix: windows
            runs-on: windows-latest
            tox: windows
        python:
          - name: CPython 3.6
            tox: py36
            action: 3.6
          - name: CPython 3.7
            tox: py37
            action: 3.7
          - name: CPython 3.8
            tox: py38
            action: 3.8
          - name: CPython 3.9
            tox: py39
            action: 3.9
          - name: CPython 3.10
            tox: py310
            action: '3.10'
    steps:
      - uses: actions/checkout@v2
      - name: Set up ${{ matrix.python.name }}
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python.action }}.0-alpha - ${{ matrix.python.action }}.X'
          architecture: x64
      - uses: twisted/python-info-action@v1.0.1
      - name: Install Linux Qt5 dependencies
        if: matrix.os.name == 'Linux'
        run: |
          sudo apt-get update --yes
          sudo apt-get install --yes libgl1 libgles2-mesa-dev
          # Required to stubtest QtMultimedia
          sudo apt-get install --yes libpulse-mainloop-glib0
          sudo apt-get install --yes libgl1 libgl1-mesa-dev xvfb x11-utils libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0
      - name: Install
        run: |
          pip install --upgrade pip setuptools wheel
          pip install tox
      - name: Test
        run: |
          tox -v -e ${{ matrix.python.tox }}-${{ matrix.os.tox }}

  all:
    name: All
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - name: This
        shell: python
        run: |
          import this
